# Variables de entorno para la aplicación de Seguros Bolívar
# Copiar este archivo como .env y llenar con los valores reales

# Credenciales de la API de Seguros Bolívar
SEGUROS_CLIENT_ID=7p2djtisjjsng91q8laktkmp36
SEGUROS_CLIENT_SECRET=1ocv4ohfjqu69r7cukebhccbk51panhqdgfl31fu2og49d3hmk1s

# Puerto de la aplicación (Cloud Run usa 8080 por defecto)
PORT=8080